In [1]:
## import library
import pandas as pd
import numpy as np

In [10]:
## load csv files
calendar = pd.read_csv("/data/notebook_files/Maven Toys Data/calendar.csv")
data_dic = pd.read_csv("/data/notebook_files/Maven Toys Data/data_dictionary.csv")
inventory = pd.read_csv("/data/notebook_files/Maven Toys Data/inventory.csv")
products = pd.read_csv("/data/notebook_files/Maven Toys Data/products.csv")
sales = pd.read_csv("/data/notebook_files/Maven Toys Data/sales.csv")
stores = pd.read_csv("/data/notebook_files/Maven Toys Data/stores.csv")

In [16]:
## merge tables with left join
df = pd.merge(sales, stores, how = "left", on = "Store_ID")
df = pd.merge(df, products, how = "left", on = "Product_ID")

In [21]:
df.head(10)

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,2022-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99
1,2,2022-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99
2,3,2022-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99
3,4,2022-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99
4,5,2022-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99
5,6,2022-01-01,1,31,1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18,Splash Balls,Sports & Outdoors,$7.99,$8.99
6,7,2022-01-01,40,7,1,Maven Toys Toluca 2,Toluca,Commercial,2014-05-27,Dart Gun,Sports & Outdoors,$11.99,$15.99
7,8,2022-01-01,19,2,1,Maven Toys Puebla 1,Puebla,Commercial,2008-12-16,Animal Figures,Toys,$9.99,$12.99
8,9,2022-01-01,38,21,1,Maven Toys Chihuahua 2,Chihuahua,Downtown,2014-03-18,Mini Ping Pong Set,Sports & Outdoors,$6.99,$9.99
9,10,2022-01-01,21,8,1,Maven Toys Santiago 1,Santiago,Downtown,2009-11-23,Deck Of Cards,Games,$3.99,$6.99

In [37]:
## Validate Data
# checking for null values
print(f"show missing values :\n{df.isnull().sum()}")
# checking for duplicate
print(f"duplicate row : {df.duplicated().sum()}")

show missing values :
Sale_ID             0
Date                0
Store_ID            0
Product_ID          0
Units               0
Store_Name          0
Store_City          0
Store_Location      0
Store_Open_Date     0
Product_Name        0
Product_Category    0
Product_Cost        0
Product_Price       0
dtype: int64
duplicate row : 0

In [38]:
df.describe()

,Sale_ID,Store_ID,Product_ID,Units
count,829262.000000,829262.000000,829262.000000,829262.000000
mean,414631.500000,25.277034,15.014149,1.315103
std,239387.463802,14.352573,9.869417,0.830701
min,1.000000,1.000000,1.000000,1.000000
25%,207316.250000,13.000000,6.000000,1.000000
50%,414631.500000,26.000000,14.000000,1.000000
75%,621946.750000,38.000000,24.000000,1.000000
max,829262.000000,50.000000,35.000000,30.000000

In [39]:
## export merge df
df.to_csv("/data/notebook_files/Maven Toys Data/merge_maven.csv", index=False)

In [40]:
## download df file
df

,Sale_ID,Date,Store_ID,Product_ID,Units,Store_Name,Store_City,Store_Location,Store_Open_Date,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,2022-01-01,24,4,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Chutes & Ladders,Games,$9.99,$12.99
1,2,2022-01-01,28,1,1,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01,Action Figure,Toys,$9.99,$15.99
2,3,2022-01-01,6,8,1,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13,Deck Of Cards,Games,$3.99,$6.99
3,4,2022-01-01,48,7,1,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23,Dart Gun,Sports & Outdoors,$11.99,$15.99
4,5,2022-01-01,44,18,1,Maven Toys Puebla 3,Puebla,Residential,2014-12-27,Lego Bricks,Toys,$34.99,$39.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829258,2023-09-30,24,19,1,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31,Magic Sand,Art & Crafts,$13.99,$15.99
829258,829259,2023-09-30,16,35,1,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19,Uno Card Game,Games,$3.99,$7.99
829259,829260,2023-09-30,22,19,1,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29,Magic Sand,Art & Crafts,$13.99,$15.99
829260,829261,2023-09-30,13,2,2,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30,Animal Figures,Toys,$9.99,$12.99
829261,829262,2023-09-30,32,6,1,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31,Colorbuds,Electronics,$6.99,$14.99